.popup-container{
    width: 350px;
    height: 300px;
    padding: 15px 25px;
    background-color: blueviolet;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 30%;
    z-index: 34;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(15px);
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.1);
}
.inport-number{
    width: 100px;
    height: 80px;
    padding: 20px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    border-radius: 10px;
    border: none;
    color: orangered;
}
.count-transfer{
    padding:10px 15px;
    text-align: center;
    border-radius: 6px;
    border: none;
}
.btns-container{
    width: 80%;
    background-color:transparent;
    display:flex;
    justify-content: space-evenly;
}
.btns-container button{
    font-weight: 600;
    font-size: 1em;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    color: aliceblue;
}
.btns-container :nth-child(1){
    background-color: rgb(16, 16, 88);
}
.btns-container :nth-child(2){
    background-color: orangered;
}