.return-home{
    position: absolute;
    top: 20px;
    z-index: 10;
    padding:10px 15px;
    border: none;
    border-radius: 10px;
    background-color: rgb(5, 5, 51);
    color: aliceblue;
}
.return-home .return-link{
    color: aliceblue;
    text-decoration: none;
}

.next-container button{
    width: 100%;
    padding: 15px 20px;
    outline: none;
    font-size: 1.25em;
    color: rgb(9, 9, 54);
    border-radius: 5px;
    background-color: rgb(226, 76, 6);
    color:#fff;
    border: none;
    margin-bottom: 30px;
}

label{
    display: inline-block;
    margin-bottom: 15px;
    font-weight: 600;
}