
.sing-up{
    position:absolute;
    z-index: 20;
    padding: 60px;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(15px);
    border: 2px solid #fff;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    border-right: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.1);
}
.sing-up h2{
    color: orangered;
}
.sing-up .inputBox > label{
    color: rgb(14, 14, 71);
}
.sing-up .inputBox > input{
    padding: 10px 15px;
}
.sing-up .inputBox button{
    position: relative;
    width: 100%;
    padding: 15px 20px;
    outline: none;
    font-size: 1.25em;
    color: rgb(9, 9, 54);
    border-radius: 5px;
    background-color: rgb(9, 9, 44);
    color:#fff;
    border: none;
    margin-bottom: 30px;
    transition: background-color 0.4s ease;
  }
  .sing-up .inputBox button:hover{
    background-color: orangered;
    color: aliceblue;
  }